.menu-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 40px;
  margin-left: 70px;
}

.menu-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  gap: 5px;
}

.menu-icon img {
  width: 30px;
}
